
<h2 class="background double"><span>Les événement proposé</span></h2>
<div *ngIf="conferences">
    <div *ngFor="let c of conferences._embedded.conferences">
     <div class="col-md-6">   
     <div class="panel panel-default">
       <div class="panel-heading">
           <p class="ax">{{c.titre}} </p>
        
            
       </div>  
       <div class="panel-body">
        <table class="table table-striped ">
            <img style="height: 280px; width: 100%; " class="img-thumbnail"  src= "{{this.service.host+'/conference/photoConference/'+c.id}}">

            <tbody>
                
                <tr>
                    <td>Site Web:</td>
                    <td> <a href="">{{c.site}}</a> </td> 
                </tr>
                <tr>
                    <td>Dates:</td>
                    <td>{{c.date_debut}}
                      <br>  {{c.date_fin}} </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{c.email}} </td>
                </tr>
            <tr>
                <div class="r">
                    <span (click)="accepte(c) ">
                        <i class="fa fa-3x" [ngClass]="{
                               'fa-thumbs-up ':c.acceptation,
                               'fa-thumbs-down ':!c.acceptation}">
                        </i>
                   </span>   
                    <a  (click)="ondelet(c) " class="btn btn-danger">
                        <i class="fa fa-trash" ></i></a>
                   </div>
            </tr>
            </tbody>
        </table>
       </div>
     </div>   
    </div>
    </div>

</div>
